<!DOCTYPE HTML>
<html>
  <head>
    <title>Bank Payout</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
    <script src="../../javascripts/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/SigmarOne-Regular.ttf" />
    <script src="socket.io/socket.io.js"></script>
    <script>
        var userId = 0;
        $(document).ready(function() {
            $('#payout').click(function() {
                disableScan();
                $.ajax({
                    url: '/api/user/markRemotePaid/' + userId,
                    type: 'GET',
                    data: "",
                    success: function(data) {
                        $('#message').text(data);
                    }
                })
            });
            disableScan = function() {
                $('#payout').text("Scan a new Ticket");
                //$('#user').text(" ");
                $('#total').text("$0");
                $('#payout').addClass("buttongrey");
                $('#payout').attr("disabled", true);
            }
        });
    </script>
  </head>
  <body>
    <div class="center">
        <div class="icons">
            <div class="bankheader"><img class="icon" src="../../images/F.png"/></div>
            <div class="bankheader"><img class="icon" src="../../images/p.png"/></div>
            <div class="bankheader"><img class="icon" src="../../images/paw.png"/></div>
            <div class="bankheader"><img class="icon" src="../../images/$.png"/></div>
        </div>
        <div class="clear"></div>
        <div class="paycontrol">
            <div>Student ID: <span id="user"></div>
            <div>Total: <span id="total"/></div>
            <div id="message"></div>
            <div><button class="paidbutton buttongrey" id="payout" disabled>Scan Ticket</button></div>
        </div>
    </div>

  <script>
    ioServer = location.protocol + '//' + location.hostname + ":4200";
    var socket = io.connect(ioServer);

    socket.on('messages', function(data) {
        var res = data.split("|");
        //alert(data);
        userId = res[1];
        total = res[2];
        if(res[0] == 'payout') 
        {
            // enable button and show payout value
            $('#payout').removeClass("buttongrey");
            $('#payout').attr("disabled", false);
            $('#payout').text("Touch when PAID");
            $('#user').text(res[1]);    
            $('#total').text(res[2]);
            $('#message').text(" ");
        } else if (res[0] == 'message') {
            disableScan();
            $('#user').text(res[1]);
            $('#total').text(res[2]);
            $('#message').text(res[3]);
        } else if (res[0] == 'found') { 
            $('#user').text(res[1]);
            $('#total').text(" ");
            $('#message').html(res[3]);              
        }
    });
 </script>
  </body></html>