<!DOCTYPE HTML>
<html>
  <head>
    <title>Bank Payout</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sigmar+One" />
    <script src="socket.io/socket.io.js"></script>
    <script>
        var userId = 0;
        $(document).ready(function() {
            $('#payout').click(function() {
                $.ajax({
                    url: '/api/user/markpaid/' + userId,
                    type: 'PUT',
                    data: "",
                    success: function(data) {
                        $('#message').text(data);
                    }
                })
                disableScan();
            });
            disableScan = function() {
                $('#payout').addClass("buttongrey");
                $('#payout').attr("disabled", true);
                $('#payout').text("Scan " + lanyardName);
                $('#user').text(" ");
                $('#total').text(" ");
            }
        });
    </script>
  </head>
  <body>
    <div class="center">
        <div class="bankheader"><img class="icon" src="../../images/F.png"/></div>
        <div class="bankheader"><img class="icon" src="../../images/p.png"/></div>
        <div class="bankheader"><img class="icon" src="../../images/paw.png"/></div>
        <div class="bankheader"><img class="icon" src="../../images/$.png"/></div>
        <div class="clear"></div>
        <div class="paycontrol">
            <div>Student ID: <span id="user"></div>
            <div>Total: <span id="total"/></div>
            <div id="message"></div>
            <div><button class="paidbutton buttongrey" id="payout" disabled>Scan Lanyard</button></div>
        </div>
    </div>

  <script>
    ioServer = location.protocol + '//' + location.hostname + ":4200";
    var socket = io.connect(ioServer);

    socket.on('messages', function(data) {
        var res = data.split("|");
        //alert(data);
        if(res[0] == 'payout') 
        {
            $('#payout').removeClass("buttongrey");
            $('#payout').attr("disabled", false);
            $('#payout').text("Touch when PAID");
            userId = res[1];
            $('#user').text(res[1]);
            total = res[2];
            $('#total').text(res[2]);
            $('#message').text(" ");
        } else if (res[0] == 'message') {
            disableScan();
            userId = res[1];
            $('#user').text(res[1]);
            total = res[2];
            $('#total').text(res[2]);
            $('#message').text(res[3]);
        }

    });
 </script>
  </body></html>