doctype html
html
  head
    title Bank Payout
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    <script src='socket.io/socket.io.js'></script>
    script.
      $('#control').click(function(userId) {
        $.ajax({
          url: '/api/user/paid/' + userId,
          type: 'PUT',
          data: "",
          success: function(data) {
            $('#message').text(data);
        }
      });

  body
  block content
    div Student ID: span(id="user")
    div Total: span(id="total")
    div(id"message")
    div: button(id="payout" type="button", class="paidbutton") Touch when PAID

  script.
    ioServer = location.protocol + '//' + location.hostname + ":4200";
    var socket = io.connect(ioServer);

    socket.on('messages', function(data) {
      if(res[0] == 'payout') 
      {
        userId = res[1];
        $('#user').text(res[1]);
        total = res[2];
        $('#total').text(res[2]);
    });