<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Slot Machine in Javascript</title>
<meta name="description" content="Welcome to Slot Machine"> 
<meta name="keywords" content="javascript, jquery, spritely, animation, sprite">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sigmar+One" />
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="javascripts/jquery.spritely.js"></script>
<script src="javascripts/jquery.backgroundPosition.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="javascripts/slot.js"></script>
</head>

<body>
<div class="bd">
	<div class="container">
		<div id="status"></div>
		<div class="slot-wrapper">
			<div id="slot1" class="slot"></div>
			<div id="slot2" class="slot"></div>
			<div id="slot3" class="slot"></div>
			<div class="clear"></div>
		</div>
		<div class="status">Current Bet: <div id="bet"></div></div>
		<div class="status">Your Total Cash: <div id="total"></div></div>
		<div id="result"></div>
		<div><button id="control">Spin</button></div>
	</div>
	<div id="payouttable"></div>
</div>
</body>
</html>

<script>  
 ioServer = location.protocol + '//' + location.hostname + ":4200";
 var socket = io.connect(ioServer);

 socket.on('messages', function(data) {
    //alert(data);
	var res = data.split("|");
	if(res[0] == 'spin' && $('#control').attr("disabled", false)) 
	{
		bet = res[1];
		//alert ("originalbet: " + bet);
		$('#control').click();
	} else if(res[0]=='show') {
		$('#bet').text(res[1]);
		$('#total').text(res[2]);
		$('#result').html(res[3]);
		bet = res[1];
	}
 });
 
</script> 
