<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Slot Machine in Javascript</title>
<meta name="description" content="Welcome to Slot Machine"> 
<meta name="keywords" content="javascript, jquery, spritely, animation, sprite">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.spritely.js"></script>
<script src="javascripts/jquery.backgroundPosition.js"></script>
<script src="javascripts/socket.io.js"></script>
<script src="javascripts/slot.js"></script>
</head>
<body class="slots">
<div class="bd">
	<div class="container">
		<div class="status">
			<div id="left">Player #: <span id="user"/></div>
			<div id="center">Bet: <span id="bet"/></div>
			<div id="right">Cash: <span id="total"/></div>
		</div>
		<div class="slot-wrapper">
			<div id="slot1" class="slot"></div>
			<div id="slot2" class="slot"></div>
			<div id="slot3" class="slot"></div>
			<div class="clear"></div>
		</div>
		<div class="status-message" id="result">&nbsp;</div>
		<div class="infoarea" id="infoarea">
			<div class="leftinstructions" id="leftinfo">
				<div class="sidebar">Cash</div> 
				<div class="content" id="lastCash">&nbsp;</div>
				<div class="sidebar">&nbsp;</div> 
				<div class="content" id="winloose">&nbsp;</div>
				<div class="sidebar">&nbsp;</div><div class="content"><hr/></div>
				<div class="sidebar">Your Total</div> 
				<div class="content" id="grandtotal">&nbsp;</div>
				<div id="cleared"></div>
				<br/>
				<div class="note">Cash-out at bank when done</div>
			</div>
			<div class="instructions">
				<p>&nbsp;</p>
				<!--<p>Match none with one <img src="images/$.png"/> 2 x bet</p>-->
				<p>Match two 10 x bet</p>
				<!--<p>Match two with <img src="images/$.png" /> 20 x bet</p>-->
				<p>Match three 100 x bet</p>
				<p><span class="money">Match 
						<img src="images/$.png" /> 
						<img src="images/$.png" /> 
						<img src="images/$.png" /> 
					</span> 500 x bet</span>
				</p>
			</div>
		</div>
	</div>
	<div><button id="control">Spin</button></div>
</div>
</body>
</html>

<script>  
 ioServer = location.protocol + '//' + location.hostname + ":4200";
 var socket = io.connect(ioServer);

 socket.on('messages', function(data) {
	var res = data.split("|");
	adjustment=0;
	bet = res[1];
	if(res[0] == 'spin' && $('#control').attr("disabled", false)) 
	{
		$('#result').html('<div class="alert">Cash-out at bank when done</div>');
		$('#control').click();
		showCalc();
	} else if(res[0]=='show') {
		showCalc();
		if(bet == '') {
			adjustment = res[6];
		} else {
			adjustment = "-" + res[1]; //bet
		}
		$('#bet').text(res[1]);
		$('#total').text(res[2]);
		$('#grandtotal').text(res[2]);
		$('#user').text(res[3]);
		$('#result').html(res[4]);
		$('#lastCash').text(res[5]);
		$('#winloose').text(adjustment);
	} else if(res[0]=='over') {
		hideCalc(res[4]);
	}
 });
</script> 
