body {
	font-family:verdana;
	padding:0px;
}
.bd {
	text-align:center;
}
.container {
	margin:0 auto;
	width:758px; 
}
.slot-wrapper {
	 border: 1px solid #2ea0f7;
}
.slot {
	background:url("../images/slot_images_tape4.jpg") repeat-y; 
	width:250px;
	height:281px;
	float:left;
	border:1px solid #2ea0f7;
	background-position:0 0x;
	background-size: 100%,250px;
}

.infoarea{
	background:url("../images/payouttable2.png"); 
	background-repeat:no-repeat;
    background-size:contain;
    height:200px;
	width: 100%px;
}

.infoarea .instructions {
	float:right;
	text-align: left;
	display: block;
	width: 370px;
	font-family: "verdana";
	font-size: 16px;
	font-style: bold;
}

.infoarea .instructions span {
	font-size: 11px;
	text-align: middle;
	display: block;
}

button {
	display: none;
	width: 100px;
	height: 20px;
	margin: 0px 0px;
	font-size: 12px;
	cursor: pointer;
}

.status {
	font-family: "Sigmar One";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	width: 100%;
}

.status div {margin-left: 2px; float:left;width:33%;}

#result{
	margin-top: 10px;
	text-align: center; 
}

#total {
  color: green;
}

.clear {
	padding: 0px;
	clear:both;
}

.note {
	float:right;
}