body {
	background:url("../images/money_trimed.png") repeat-y; 
	font-family:verdana;
	padding:0px;
}
.bd {
	text-align:center;
}
.container {
	margin:0 auto;
	width:758px; 
}

.demo {
	margin:0 auto;
	display:none;
	width:758px; 	
}

.slot-wrapper {
	border: 1px solid #2ea0f7;
	background-color: white;
}
.slot {
	background:url("../images/slot_images_tape4.jpg") repeat-y; 
	width:250px;
	height:281px;
	float:left;
	border:1px solid #2ea0f7;
	background-position:0 0x;
	background-size: 100%,250px;
}

.infoarea{
	background-image:url("../images/slotplay.gif");
	background-repeat:no-repeat;
	background-size:contain;
	background-color: white;
    height:210px;
	width: 100%;
	border-left:1px solid #2ea0f7;
	border-right:1px solid #2ea0f7;
	border-bottom:1px solid #2ea0f7;
}

.infoarea .instructions {
	float:right;
	text-align: center;
	display: block;
	width: 430px;
	font-family: "verdana";
	font-size: 20px;
	font-style: bold;
}

.infoarea .instructions p {
	text-align: right;
	margin-right: 60px;
}

.infoarea .instructions img {
	vertical-align: middle;
	height: 25px;
	width: 25px;
}

.infoarea .leftinstructions {
	float:left;
	text-align: center;
	display: none;
	width: 300px;
	font-family: "verdana";
	font-size: 20px;
	font-style: bold;
	margin-top: 30px;
}

.mathline {
	border: 1px solid #2ea0f7;
}

.infoarea .instructions h2 {
	float: center;
	margin-top: 10px;
}

.infoarea .instructions h3 {
	float: center;
}

.sidebar {
	float: left;
  	width: 60%;
	text-align: right;
}

.content {
	float: right;
	width: 40%;
	text-align: right;
}

#cleared {
  clear: both;
}

button {
	display: block;
	width: 100px;
	height: 20px;
	margin: 0px 0px;
	font-size: 12px;
	cursor: pointer;
}

.paidbutton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #FFFFFF 5%, #7d9940 100%);
	background-color:#b3ac59;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	height:160px;
	width:750px;
}

.buttongrey {
	background:linear-gradient(to bottom, grey 5%, grey 100%);
	background-color:grey;
	color: lightgray;
}

#control {
	display: none;
}

.status {
	font-family: "Sigmar One";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	background-color: white;
	width: 100%;
}

.status-message {
	font-family: "Verdana";
	font-style: bold;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	background-color: white;
	width: 100%;
	border:1px solid #2ea0f7;
}

.status div {margin-left: 2px; float:left;width:33%;}

#result{
	margin-top: 10px;
	text-align: center; 
}

#total {
  color: green;
}

.clear {
	padding: 0px;
	clear:both;
}

.note {
	float: right;
	font-size: 15px;
	margin-right: 10px;
	color: red;
}

.alert {
	color: red;
}

li {
	margin-bottom: 20px;
}

.bankheader {
	float: left;
}

.icon {
	height: 125px;
	float: left;
	padding-bottom: 10px;
}

#message {
    display:block;
    width: 750px;
    height:70px;
	text-align: middle;
}

.paycontrol {
	border-width: 1px;
	border-color: blue;
	border-style: inset;
	width: 750px;
	padding:10px;
	font-family: "Sigmar One";
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}

.center1 {
    margin: auto;
    width: 50%;
}

@font-face {
	font-family: 'Sigmar One';
	src: url('SigmarOne-Regular.ttf'); 
}

.money {
	color: green;
}